/**
 * Credit to Kenny Yip Coding on YouTube for guidance and assistance in code.
 * https://www.youtube.com/watch?v=XM2n1gu4530&list=LL&index=1&t=1182s
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    display: grid;
    width: 500px;
    height: 500px;
    
    background-color: rgb(15, 167, 209);
    gap: 5px;
    border: 5px solid rgb(41, 212, 41);
    margin: 0 auto;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.tile {
    border: 5px solid rgb(41, 212, 41);
    font-size: 40px;
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: aqua;
    color: lightcoral;
}

.x4 {
    background-color: lightslategray;
    color: green;
}